
@import "variables";

.home {
  
  .info-section {
    width: 35%;
    padding: 54px;
  }
  
  .content-area {
    margin-left: 35%;
    width: 65%;
    background: white;
    height: 100%;
   
    // padding: 0 0 0 20%;
    .img-container {
      display: inline-block;
      width: 35%;
      position: relative;
      height: 100%;
      .headshot-image {
        position: absolute;
        left: -150px;
        top: 56px;
        width: 350px;
        height: calc(100% - 112px);
        background: url("../img/joe.jpg") no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-box-shadow: 29px 21px 40px -2px rgba(64,60,64,0.27);
        -moz-box-shadow: 29px 21px 40px -2px rgba(64,60,64,0.27);
        box-shadow: 29px 21px 40px -2px rgba(64,60,64,0.27);
      }
    }
    .profile-section {
      background: $color3;
      vertical-align: top;
      display: inline-block;
      max-width: 400px;
      padding: 20% 0 0 0;
      .profile {
        h1{
          font-size: 2.3rem;
          font-weight: 500;
          line-height: 1.2;
          margin: 0 0 1.3rem;
          span {
            color: $color1;
          }
        }
        h5{
          font-size: 1.2rem;
          margin: 0 0 2rem;
        }
        p{
          color: $color5;
          line-height: 1.4;
          margin: 0 0 2rem;
         
        }
      }
    }
  }
}