.logo {
  border: 5px solid white;
  height: 100px;
  width: 150px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;

}

.info-section {
  width: 35%;
  padding: 54px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  .info-box {
    position: absolute;
    bottom: 60px;
     h4 {
      font-size: 1.3rem;
      color: $color3;
      margin: .7rem 0;
    }
    p {
      font-size: 0.9rem;
      font-weight: 300;
      color: $color3;
      margin: 0.2rem 0 1.5rem;
    }
  }
  .icon-section {
    a {
      color: white;
      text-decoration: none;
      font-size: 1.8rem;
      padding: 0 5px;
      &:first-child {
        padding: 0 10px 0 0; 
      }
      &:hover {
        color: $hoverColor;
      }
    }
  }
  a {
    text-decoration: none;
  }
}